<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h5 class="card-header">View Details</h5>
        <div class="card-body demo-vertical-spacing demo-only-element">

            <div class="form-floating form-floating-outline mb-6">
                <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                    <option selected disabled>Select Department</option>
                    <option value="1">CSE</option>
                    <option value="2">AI-ML</option>
                    <option value="3">MECHENICAL</option>
                    <option value="4">CIVIL</option>
                    <option value="5">ELECTRICAL</option>
                    <option value="6">ARTS</option>
                </select>
                <label for="exampleFormControlSelect1">Select Department</label>
            </div>
            <div class="form-floating form-floating-outline mb-6">
                <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                    <option selected disabled>Select Staff</option>
                    <option value="1">Prof 1</option>
                    <option value="2">Prof 2</option>
                    <option value="3">Prof 3</option>
                    <option value="4">Prof 4</option>
                    <option value="5">Prof 5</option>
                    <option value="6">More...</option>
                </select>
                <label for="exampleFormControlSelect1">Select Staff</label>
            </div>

            <div class="card-body">
                <div class="row mt-4">
                    <div class="d-grid gap-2 col-lg-6 mx-auto">
                        <button class="btn btn-secondary btn-lg" type="button">View Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- view research hardcoded preview page-->

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-body demo-vertical-spacing demo-only-element">
                <h5 class="card-header">RESEARCH SUBMISSION VIEWER</h5> 
                <button type="button" class="btn btn-primary " id="staffinfo">Information about Professor</button>
                <div id="submissionData" class="mt-4">
                    <h5 class="card-header">Submitted Data</h5>
                    <ul class="list-group mb-4">
                        <li class="list-group-item"><strong>Department:</strong> Department of Computer</li>
                        <li class="list-group-item"><strong>Email:</strong> profxyzgmail.com</li>
                        <li class="list-group-item"><strong>Select Option:</strong> Publications in national Conference
                        </li>
                        <li class="list-group-item"><strong>Select Sem:</strong> I</li>
                        <li class="list-group-item"><strong>Select Year:</strong> 2024-25</li>
                        <li class="list-group-item"><strong>Input Title:</strong> A Study on Renewable Energy
                            Integration</li>
                        <li class="list-group-item"><strong>Enter Details:</strong> This paper explores the integration
                            of renewable energy sources in smart grids, challenges, and future directions.</li>
                    </ul>
                    <button type="button" class="btn btn-primary" id="previewPdfBtn">Preview Attached PDF</button><br>
                </div>
            </div>
        </div>
    </div>
</div>