<div class="layout-wrapper layout-content-navbar ">
  <div class="layout-container">
    <!-- Menu -->
    <aside id="layout-menu" style="position: fixed;"
      class="layout-menu menu-vertical menu shadow-xs bg-white rounded m-3">
      <div class="app-brand demo ">
        <a href="index.html" class="app-brand-link">
          <span class="app-brand-logo demo me-1">
            <span style="color: var(--bs-primary)">
              <svg width="300" height="300" viewBox="90 10 100 200" xmlns="http://www.w3.org/2000/svg">
                <defs>
                  <linearGradient id="grad-front" x1="0%" y1="0%" x2="0%" y2="100%">
                    <stop offset="0%" style="stop-color:#4FC3F7;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#0288D1;stop-opacity:1" />
                  </linearGradient>
                  <linearGradient id="grad-side" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#0288D1;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#01579B;stop-opacity:1" />
                  </linearGradient>
                </defs>
                <path d="M60 220 L150 40 L240 220 L210 220 L150 100 L90 220 Z" fill="url(#grad-front)" />
                <path d="M150 40 L240 220 L210 220 L150 100 Z" fill="url(#grad-side)" />
                <rect x="105" y="130" width="90" height="20" fill="#4FC3F7" />
                <rect x="120" y="135" width="60" height="15" fill="#0288D1" />
              </svg>
            </span>
          </span>
          <span class="app-brand-text demo menu-text fw-semibold ms-2">Automate</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
          <i class="menu-toggle-icon d-xl-block align-middle"></i>
        </a>
      </div>
      <div class="menu-inner-shadow"></div>
      <ul class="menu-inner py-1 ">
        <!-- Dashboards -->
        <li class="menu-item active ">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <!-- <i class="menu-icon tf-icons ri-home-smile-line"></i> -->
            <i class="menu-icon tf-icons ri-bar-chart-fill"></i>
            <div data-i18n="Dashboards">KPI</div>
            <!-- <div class="badge bg-danger rounded-pill ms-auto">5</div> -->
          </a>
          <ul class="menu-sub">
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/research" class="menu-link">
                <div data-i18n="drr">Research</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/ind-ins-interaction" class="menu-link">
                <div data-i18n="drr">Industry Institute Interaction</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="/staff/kpi/fdp-sttp-workshop" class="menu-link">
                <div data-i18n="drr">FDP/STTP/Workshops</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/student-development" class="menu-link">
                <div data-i18n="drr">Student Development</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/admmission" class="menu-link">
                <div data-i18n="drr"> Admissions</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/aca-gustlec-arranged" class="menu-link">
                <div data-i18n="drr">Academic Gust lecture Arranged</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/internal-revnu-gen" class="menu-link">
                <div data-i18n="drr">Internal Revenue Generation</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/administrative-resp" class="menu-link">
                <div data-i18n="drr">administrative Responsibilities</div>
              </a>
            </li>
            <li *ngIf="usertype=='admin'" class="menu-item" routerLinkActive="active">
              <a routerLink="kpi/exam-sec-resp" class="menu-link">
                <div data-i18n="drr">Exam Section Responsibilities</div>
              </a>
            </li>

            <li *ngIf="usertype=='teacher'" class="menu-item" routerLinkActive="active">
              <a routerLink="/dashboard/ic" class="menu-link">
                <div data-i18n="Issued Certificate">Issued Certificate</div>
                <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
              </a>
            </li>


            <!-- authority "PRINCIPLE"-->

            <li *ngIf="usertype=='authority'" class="menu-item" routerLinkActive="active">
              <a routerLink="principle" class="menu-link">
                <div data-i18n="#">View Details</div>
                <!-- <div class="badge bg-label-primary fs-tiny rounded-pill ms-auto">Pro</div> -->
              </a>
            </li>

          </ul>
        </li>
        <!-- User interface -->
        <li class="menu-item">
          <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-radio-button-line"></i>
            <div data-i18n="User interface">DRR</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Accordion">Options</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Alerts">Options</div>
              </a>
            </li>
            <!-- <li class="menu-item">
              <a href="ui-badges.html" class="menu-link">
                <div data-i18n="Badges">Badges</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-buttons.html" class="menu-link">
                <div data-i18n="Buttons">Buttons</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-carousel.html" class="menu-link">
                <div data-i18n="Carousel">Carousel</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-collapse.html" class="menu-link">
                <div data-i18n="Collapse">Collapse</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-dropdowns.html" class="menu-link">
                <div data-i18n="Dropdowns">Dropdowns</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-footer.html" class="menu-link">
                <div data-i18n="Footer">Footer</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-list-groups.html" class="menu-link">
                <div data-i18n="List Groups">List Groups</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-modals.html" class="menu-link">
                <div data-i18n="Modals">Modals</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-navbar.html" class="menu-link">
                <div data-i18n="Navbar">Navbar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-offcanvas.html" class="menu-link">
                <div data-i18n="Offcanvas">Offcanvas</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-pagination-breadcrumbs.html" class="menu-link">
                <div data-i18n="Pagination & Breadcrumbs">Pagination &amp; Breadcrumbs</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-progress.html" class="menu-link">
                <div data-i18n="Progress">Progress</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-spinners.html" class="menu-link">
                <div data-i18n="Spinners">Spinners</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-tabs-pills.html" class="menu-link">
                <div data-i18n="Tabs & Pills">Tabs &amp; Pills</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-toasts.html" class="menu-link">
                <div data-i18n="Toasts">Toasts</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-tooltips-popovers.html" class="menu-link">
                <div data-i18n="Tooltips & Popovers">Tooltips &amp; Popovers</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="ui-typography.html" class="menu-link">
                <div data-i18n="Typography">Typography</div>
              </a>
            </li> -->
          </ul>
        </li>
        <!-- Extended components -->
        <li class="menu-item">
          <a href="javascript:void(0)" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-radio-button-line"></i>
            <div data-i18n="Extended UI">Extra</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Perfect Scrollbar">Options</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Text Divider">Options</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-radio-button-line"></i>
            <div data-i18n="Form Elements">Extra</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Basic Inputs">Options</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Input groups">Options</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons ri-radio-button-line"></i>
            <div data-i18n="Form Layouts">Extra</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Vertical Form">Options</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="#" class="menu-link">
                <div data-i18n="Horizontal Form">Options</div>
              </a>
            </li>
          </ul>
        </li>

        <li class="menu-header mt-7"><span class="menu-header-text">Misc</span></li>
        <li class="menu-item">
          <a href="#" class="menu-link">
            <i class="menu-icon tf-icons ri-lifebuoy-line"></i>
            <div data-i18n="Support">Support</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">
            <i class="menu-icon tf-icons ri-article-line"></i>
            <div data-i18n="Documentation">Documentation</div>
          </a>
        </li>
      </ul>
    </aside>
    <!-- / Menu -->