<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
            <div class="card-body demo-vertical-spacing demo-only-element">
                <h5 class="card-header"> EXAM SECTION RESPONSIBILITIES </h5>
                <div class="form-floating form-floating-outline mb-6">
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" />
                    <label for="exampleFormControlInput1">Email Autoselect / default user's</label>
                </div>
                
                <div class="form-floating form-floating-outline mb-6">
                    <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                        <option selected>select Option</option>
                        <!-- <option value="1">Publications in national Conference</option>
                        <option value="2">Publications in International Conference</option>
                        <option value="3">Publications in International Journal [Science Direct / IEEE /
                            Elsevier]</option>
                        <option value="4">National Conference Arranged</option>
                        <option value="5">International Conference Arranged </option>
                        <option value="6">Publications in Books / Book Chapters </option>
                        <option value="7">Patent filed </option>
                        <option value="8">Books Published </option>
                        <option value="9">Your Active Participation in Establishing Incubation Centre </option> -->
                    </select>
                    <label for="exampleFormControlSelect1">Select Option</label>
                </div>

                <div class="form-floating form-floating-outline mb-6">
                    <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                        <option selected>select Sem</option>
                        <option value="1">I</option>
                        <option value="2">II</option>
                        <!-- <option value="3">III</option>
                        <option value="4">IV</option>
                        <option value="5">V</option>
                        <option value="6">VI</option> -->
                    </select>
                    <label for="exampleFormControlSelect1">Select Sem</label>
                </div>

                <div class="form-floating form-floating-outline mb-6">
                    <select class="form-select" id="exampleFormControlSelect1" aria-label="Default select example">
                        <option selected>select Year</option>
                        <option value="1">2024-25</option>
                        <option value="3">2025-26</option>
                    </select>
                    <label for="exampleFormControlSelect1">Select Year</label>
                </div>

                <div class="accordion mt-4" id="accordionExample">
                    <div class="accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                <h4>"Selected Topic"</h4>
                            </button>
                        </h2>

                        <div id="accordionOne" class="accordion-collapse collapse "
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h5 class="card-header">Detailed Data</h5>
                                <div class="mt-2 mb-4">
                                    <label for="largeInput" class="form-label">Input Title</label>
                                    <input id="largeInput" class="form-control form-control-lg" type="text"
                                        placeholder="Title" />
                                </div>
                                <div class="form-floating form-floating-outline mb-6">
                                    <textarea class="form-control h-px-200" id="exampleFormControlTextarea1"
                                        placeholder="Enter details"></textarea>
                                    <label for="exampleFormControlTextarea1">TextArea for details</label>
                                </div>
                                <label for="largeInput" class="form-label">Attach PDF</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="inputGroupFile02" />
                                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                </div>
                                <div class="demo-inline-spacing">
                                    <button type="button" class="btn btn-info">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>